*{
    margin: 0%;
    padding: 0%;
}
.navbar{
    font-size: 20px;
    font-family: sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 10px;
    font-weight: 500;
    letter-spacing: 2px;
    
}
.nav{
    background-color: rgb(0, 30, 128);
    padding: 10px 20px;
}
.Title{
    background-color: rgb(14, 14, 105);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    font-style: inherit;
}
.paragraph{
    background-color: rgb(14, 14, 105);
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding-bottom: 100px;

}